* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

button {
    background: #d934d3;
    background-image: -webkit-linear-gradient(top, #d934d3, #402bb8);
    background-image: -moz-linear-gradient(top, #d934d3, #402bb8);
    background-image: -ms-linear-gradient(top, #d934d3, #402bb8);
    background-image: -o-linear-gradient(top, #d934d3, #402bb8);
    background-image: linear-gradient(to bottom, #d934d3, #402bb8);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    /* -webkit-box-shadow: 3px 3px 10px #666666;
    -moz-box-shadow: 3px 3px 10px #666666;
    box-shadow: 3px 3px 10px #666666; */
    font-family: Georgia;
    color: #ffffff;
    font-size: 24px;
    padding: 12px 25px 12px 25px;
    text-decoration: none;
}
  
button:hover {
    background: #fc693c;
    background-image: -webkit-linear-gradient(top, #fc693c, #edf500);
    background-image: -moz-linear-gradient(top, #fc693c, #edf500);
    background-image: -ms-linear-gradient(top, #fc693c, #edf500);
    background-image: -o-linear-gradient(top, #fc693c, #edf500);
    background-image: linear-gradient(to bottom, #fc693c, #edf500);
    text-decoration: none;
  }