* {
  margin: 0px;
  padding: 0px;
    box-sizing: border-box;
}

section {
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
}
p{
  padding-top: 1rem;

  opacity: 1;
}
/* Navabar */
#abc{
  width:100%;
  position:absolute;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
#abc h4 {
  position: absolute;
  font-size: 2rem;
  padding-left: 2rem;
  font-family: "Ubuntu";
  padding-top: 0.8rem;
}
nav{
  width: 100%;

}
nav ul{
  float: right;

}
nav ul li .Brand{
  float: left;

}
nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
  padding-top:1.5rem;
  font-size: 1rem;
  font-family: "Montserrat-Light";
  color: black;
}
nav ul li:hover{
color: white;
}
nav ul li a{
  text-decoration: none;
  color:black;
  padding: 1rem;
}

.container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.stop {
    position: fixed;
}

/* Home Section */
#sec-1 img{
height: 100vh;
width: 100vw;
position: absolute;
z-index: -1;
}
.contact{
  padding-right: 8rem;
}
#sec-2 img{
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}

#left-1 {
    width: 50vw;
    padding-bottom: 6rem;
}

#right-1 {
    width: 50vw;
}

#logInBg {
    padding: ;
    position: relative;
    left: 13vw;
    top: 5rem;
    background-color: #FFB4B4 ;
    opacity: 0.8;
    width: 24vw;
    height:30vh;
    font-size: 1.1rem;
    border-radius: 1rem;
    font-weight: bold;
    display: flex;
    align-items:center;
    justify-content:center;

}

input[type="text"],
input[type="password"] {
    width: 100%;
    border: none;
    border-radius: 5rem;
    padding: 0.5rem 0.8rem;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.4rem;
    font-weight: bold;
}

input[type="submit"] {
    position: relative;
    right: 0vw;
    height: 2rem;
    width: 10vw;
    background-color: #C490E4;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}
input[type="submit"]:hover {
    background-color: orange;
}

#home-img {
    width: inherit;
    height: inherit;
}

footer {
    background-color: seagreen;
    text-align: center;
}

.brand-name {
    position: absolute;
    top: 0.3rem;
    left: 1rem;
    color: black;
    font-weight: 900;
    font-size: 2rem;
}

.nav_btn {
    position: absolute;
    right: 1.65rem;
    top: 0.9rem;
    background: #d934d3;
    background-image: -webkit-linear-gradient(top, #d934d3, #402bb8);
    background-image: -moz-linear-gradient(top, #d934d3, #402bb8);
    background-image: -o-linear-gradient(top, #d934d3, #402bb8);
    background-image: linear-gradient(to bottom, #d934d3, #402bb8);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-decoration: none;
    border: none;
}
.nav_btn:hover {
    background: #fc693c;
    background-image: -webkit-linear-gradient(top, #fc693c, #edf500);
    background-image: -moz-linear-gradient(top, #fc693c, #edf500);
    background-image: -o-linear-gradient(top, #fc693c, #edf500);
    background-image: linear-gradient(top bottom, #fc693c, #edf500);
    text-decoration: none;
  }





#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}
#mySidenav a:hover {
    left: 0;
}
#about {
    top: 20vh;
    background-color: #04AA6D;
}
#blog {
    top: 30vh;
    background-color: #2196F3;
}
#projects {
    top: 40vh;
    background-color: #f44336;
}
#contact {
    top: 50vh;
    background-color: #555
}



  /*  */
  /* for flip */
  .flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    justify-self: center;
  }

  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Style the front side */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }

  /* Style the back side */
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
